.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.main-menu ul {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 20px 10%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.main-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
.logo {
  width: 120px;
  display: block;
}
.logo img {
  display: block;
  width: 100%;

  animation: slide-in-fwd-center 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
