.napredna-grupa {
  width: 100vw;
  /*   height: 750px; */

  background-image: linear-gradient(rgba(27, 27, 27, 0.4), rgba(2, 2, 2, 0.7)),
    url('../../images/tranings_bg_black-min-7YYOFFAC.webp');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  /*   display: grid;
  grid-template-columns: repeat(1, 1fr); */
  /* padding: 100px; */
  padding: 80px 20px;
  transition: all 0.6s ease-in;
}
.napredna-grupa-content-slika {
  text-align: center;
}
.napredna-grupa-text {
  margin: 40px 20px 10px 20px;
}
.napredna-grupa-content-slika-footer p {
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: rgba(235, 0, 39, 1);
}
.napredna-grupa-text-tekst-1 p {
  color: #f0f0f0;
  font-size: 1.1rem;
  font-weight: 300;
  border-left: 4px solid rgba(235, 0, 39, 0.6);
  margin-bottom: 30px;
  padding: 0 10px;
  width: 100%;

  transition: all 0.3s ease;
  cursor: crosshair;
}

.napredna-grupa-text-tekst-1 p:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(235, 0, 39, 0.7);
}
.napredna-grupa-text-icon {
  display: block;
  font-size: 2.5rem;
  color: rgba(235, 0, 39, 0.8);
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .napredna-grupa {
    width: auto;
  }

  .napredna-grupa-text-tekst-1 p {
    font-size: 1.4rem;
  }
  .napredna-grupa-text {
    width: 90%;
    margin: 40px auto 10px auto;
  }

  .napredna-grupa-footer-buttons {
    text-align: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1240px) {
  .napredna-grupa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .napredna-grupa {
    width: auto;
    height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .napredna-grupa:hover {
    width: 75vw;
    background-position: center;
  }

  .napredna-grupa-content-slika-text p {
    font-size: 1.6rem;
  }
  .napredna-grupa-text {
    width: 80%;

    margin: 40px auto 10px auto;
  }
  .napredna-grupa-text-tekst-1 p {
    font-size: 1.4rem;

    margin-bottom: 30px;
  }

  .napredna-grupa-text-tekst-1.selected p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
  }
  .napredna-grupa-text.selected {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1685px) {
  /*   .napredna-grupa-footer-buttons .btn {
    width: 100%;
  } */
  .napredna-grupa-footer-buttons.selected .btn {
    width: 100%;
  }
}

/* .napredna-grupa {
  width: 100vw;
  min-height: 750px;

  background-image: linear-gradient(rgba(27, 27, 27, 0.4), rgba(2, 2, 2, 0.7)),
    url('../../images/tranings_bg_black-min-7YYOFFAC.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
}

.napredna-grupa-content {
  position: relative;
}
.napredna-grupa-content-slika {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.napredna-grupa-content-slika-footer p {
  color: #f0f0f0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 40px;
}
.napredna-grupa-text {
  position: relative;
}

.napredna-grupa-text-tekst-1 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}
.napredna-grupa-text-tekst-1 p {
  color: #f0f0f0;
  font-size: 1.2rem;
  font-weight: 500;
  border-left: 4px solid rgba(235, 0, 39, 0.6);
  margin-bottom: 60px;
  padding: 0 10px;
  width: 60%;
}
.napredna-grupa-text-tekst-1 p:nth-child(2n) {
  margin-left: 30%;
}
.napredna-grupa-text-icon {
  display: block;
  font-size: 2.5rem;
  color: rgba(235, 0, 39, 0.8);
  margin-bottom: 10px;
}
 */
