.contact {
  width: 100vw;
  display: grid;
}

@media screen and (max-width: 992px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 992px) {
  .contact {
    grid-template-columns: 1fr 1fr;
  }
}
